:root {
    --mtop: 50px;
    --padg: 50px;
}
body {
    margin: 0;
    font: normal normal 400 17px/1.75 'Fira Sans', sans-serif;
    color: #555;
    background: #f9f6f6;
}
main {
    box-sizing: border-box;
    display: block;
    margin: var(--mtop) auto 0;
    padding: var(--padg);
    min-width: 300px;
    width: 80%;
    max-width: 800px;
    min-height: calc(100vh - 100px);
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.175);
}
strong { font-weight: 800; color: #444; }
.messages {
    margin: 2.0rem 0;
    padding: 0.333rem 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.messages p {
    margin: 0;
    font-size: 1.15rem;
    font-weight: 500;
    color: #e00;
}
h1 { margin: 0; font-size: 2.333rem; font-weight: 600; line-height: 1.2; }
@media only screen and (max-width: 720px) {
    h1 { font-size: 1.9rem; }
    .messages p, p { font-size: 0.9rem; }
}